body, html {
  overflow-x: hidden;
    margin: 0;
    font-family: sans-serif;
    
}

.otd{
  margin-left: 40%;
  
}


.topnav {
  z-index: 999;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  color: black;
  position: fixed;
  width: 100%;
}

.onasss {
  text-decoration: none;
margin-top: 300px;
  color: white;
  position: absolute;
}

.topnav a {
  margin-top: 15px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding:10px 35px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: rgb(184, 184, 184);
  color: black;
}

.active {
  background-color: #ffffff;
  color: white;
}

.topnav .icon {
  display: none;
}




@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.txt1 a{
  text-decoration: none;
  color: wheat;
}

@media screen and (max-width: 600px){
  .nachalo{
    max-width: 600px;
  }

.bgp{
  margin-top: 22%;
}

 .adv{
  display: none;
 }

 .line{
  display: none;
 }

 .txt1{
  font-size: 14px;
 max-width: 600px;

 margin-left:8%;
 display: flex;
flex-wrap: wrap;

 }
#main p{
  word-wrap: break-word;
}

.news{

}
 
 .iconki1{
  width: 30%;
 }



}
/* ///// */
.nachalo1{
  display: flex;
  justify-content: space-around;
}

  .nachalo{
    background-image: url(1w.jpg);
    width: 100%;
    height:964px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.textnaperv {
    color: white;
    display: flex;

    width:56%;
    height: 400px;
  
    margin-top: 311px;
    font-family: Open Sans,sans-serif;
    font-size: 32px;
}

.line{
    width: 1px;
    height: 630px;
    float: right;
    background-color:  rgb(255, 255, 255);
    margin-right: 150px;
    margin-top: 185px;
  
}

.lini{
    
    width: 150px;
    float: right;
  margin-right: 180px;
}

.adv{
  font-size: 15px;
  color: white;
  position: absolute;
    width: 350px;
    float: right;
    margin-top: 180px;
    font-family: Open Sans,sans-serif;
    font-weight: 600;
}
li {
  list-style-type: none; 
 }

 .iconki1{

  display: flex;
  justify-content: space-evenly;
  width: 100%;

 

 }



 .container_slider_css{
  margin:50px auto;
  width:500px;
  height:300px;
  overflow:hidden;
  position:relative;
}

.photo_slider_css{
  position:absolute;animation:round 16s infinite;opacity:0;width:100%
}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}

.secbl{
  width: 100%;
  height: 240px;
 
}

.news a{ 
  text-decoration:none;
  font-size: 18px;
}

.news {
 text-decoration: none;
  display:flex;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 30px;
  margin-left: 60px;
  width: 30%; 
  height: 50px;
  
}

.n1 a{
  transition:1s;
  font-weight: 300;
  font-size: 14px;
  color: rgb(141, 25, 25);
}

.n1 a:hover{
 
  transition:1s;
}

.n2 a:hover{

  transition:1s;
  color:rgb(122, 0, 0);
}


.n2 a{
  transition:1s;
  font-size: 14px;
  font-weight: 300;
  font-size: 12px;
  color: black;
}

.n3 a{
  font-size: 14px;
  font-weight: 300;
  font-size: 12px;
  color: black;
   font-size: 14px;
}

.n4 {

  
  font-weight: 300;
  font-size: 12px;
  color: black;
}


.n3 a:hover{
 
  transition:1s;
  color:rgb(122, 0, 0);
}


.n4 a:hover{
  transition:1s;
  color:rgb(122, 0, 0);
}


.novois {
  


  margin-top: 120px;

 

}

.novois a{
  text-decoration: none;
  font-size: 14px;
  color: #666;
  height: 50px;
}





.th{

  
}

.num{
  position: absolute;
  color: grey; 
  font-size: 12px;
   margin-top: 25px;
}


 

a::selection{
  color: rgb(255, 255, 255);
  background-color: #ff0000;
}


.thirdblock{
width: 100%;
height: 180px;
position: absolute;
}

.konc a{
  color: #999;
}

.logotiptg{
  text-align: -webkit-center;
  margin-top: 8%;
}

.tgtx{
  text-align: -webkit-center;
}

.icontg{
  transition: 1s;
  text-align: -webkit-center;
}

.icontg:hover{
  transform: scale(1.1);
  transition: 1s;
  text-align: -webkit-center;
}

.stroika{
  text-align: -webkit-center;
  font-size: 12px ;
}

hr {
  margin-top: 35px;
  width: 350px;
  display: block;
  unicode-bidi: isolate;

  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}


.modalokn{
  margin-left: 10px;
  width: 450px;
  height: 500px;
  background-color: grey;
}


.tabs__link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#popup-subscribe {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(51, 51, 51, .74);
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-subscribe .popup__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popup-subscribe .popup__block {
  background: #fff;
  position: relative;
  margin: auto;
  padding: 70px 70px 60px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#popup-subscribe .popup__close-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  z-index: 10;
  text-decoration: none;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  -webkit-transform: scale(.95);
  transform: scale(.95);
}


#popup-subscribe .form {
  width: 760px;
  max-width: 100%;
  margin: 25px auto;
}

#popup-subscribe .form {
  width: 7  60px;
  max-width: 100%;
  margin: 25px auto;
}

#popup-subscribe .form__title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #333;
}


element.style {
  clear: both;
  border-top: 1px solid #ddd;
}

#popup-subscribe .label {
  position: relative;
  display: block;
}

#popup-subscribe .form__label {
  margin: 15px 0;
}

#popup-subscribe .form {
  width: 760px;
  max-width: 100%;
  margin: 25px auto;
}

#popup-subscribe .form {
  width: 760px;
  max-width: 100%;
  margin: 25px auto;
}

#popup-subscribe .form__title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #333;
}

#popup-subscribe .form__input, #popup-subscribe .form__textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  width: 100%;
  border-radius: 2px;
  font-size: 16px;
  outline: none;
  padding: 13px 10px 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#popup-subscribe .label__item:focus + .label__title, #popup-subscribe .label__item:not(:placeholder-shown) + .label__title {
  -webkit-transform: translateY(-9px) scale(.8);
  transform: translateY(-9px) scale(.8);
}

#popup-subscribe .label__title {
  position: absolute;
  top: 12px;
  left: 10px;
  -webkit-transform-origin: left;
  transform-origin: left;
  font-size: 14px;
  font-weight: 100;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: #939393;
}

#popup-subscribe .form__input, #popup-subscribe .form__textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  width: 100%;
  border-radius: 2px;
  font-size: 16px;
  outline: none;
  padding: 13px 10px 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

#popup-subscribe .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  float: left;
  margin: 0 25px 25px 0;
}

#popup-subscribe .checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

#popup-subscribe .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  height: 48px;
  background: #a6001e;
  color: #fff;
  padding: 16px 0;
  margin-bottom: 30px;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
  outline: none;
}

.btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  height: 48px;
  background: #a6001e;
  color: #fff;
  padding: 16px 0;
  margin-bottom: 30px;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
  outline: none;
}

#popup-subscribe .clearfix::after {
  display: block;
  clear: both;
  content: "";
}

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

#popup-subscribe .popup__close-btn:after, #popup-subscribe .popup__close-btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -1px;
  content: "";
  display: block;
  width: 20px;
  height: 0;
  border-bottom: 2px solid #333;
}

#popup-subscribe .popup__close-btn:after {
  -webkit-transform: rotate(-90deg) translate(0);
  transform: rotate(90deg) translate(0);
}

#popup-subscribe .checkbox-slider.round:before {
  border-radius: 0%;
}

#popup-subscribe .checkbox-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

#popup-subscribe .switch input.success:checked + .checkbox-slider {
  background-color: #8bc34a;
}

#popup-subscribe .switch input:checked + .checkbox-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}



.menufromGlavnaya{
  position: absolute;
  display: inline;
  color: #999;
  font-size: 13px;
  margin-top: 110px;
  margin-left:350px;
}

.menufromGlavnaya a {
  text-decoration: none;
  color: #999;
}

.stats{
  position: absolute;
  width: 150px;
  margin-top: 210px;
  margin-left: 350px;
}

.statya{
  position: absolute;
  width: 800px;
  height: 1150px;
  margin-top: 320px;
  margin-left: 350px;
  font-size: 34px;
  color: #333;
}

.news__content {
  max-width: 730px;
  color: #666;
  font-size: 14px;
  line-height: 27px;
}

.gaya{
  width: 150px;
  color: #999;
    font-size: 13px;
    font-weight: 400;
}

.gayane{
  width: 150px;
  color: #333;
  font-weight: 600;
  font-size: 14px
}


.Sopko{
  width: 26%;
}



.gaya1{

  width: 300px;
  color: #999;
    font-size: 13px;
    font-weight: 400;
}


.hoverq:hover{
  opacity: 0.7;
  transition: 1s;
}

.hoverq{
transition: 1s;

}


.flexxx{
  margin-top: 20%;
}


.b24-form-wrapper {
  position: relative;
  display: block;
  background-color: rgba(0,0,0,.08);
  background-color: var(--b24-background-color);
  min-height: 250px;
  max-width: 700px;
  margin: 0 auto;
  -webkit-transition: min-height 180ms ease;
  -o-transition: min-height 180ms ease;
  transition: min-height 180ms ease;
  word-break: break-word;
}
.b24-form * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

.b24-form-header {
  padding: 15px 31px 5px;
  border-bottom: 1px solid rgba(82,92,105,0.11);
  text-align: center;
}

.b24-form-padding-side {
  padding-left: 31px;
  padding-right: 31px;
}

.nowost{
  display: flex;
  justify-content: space-around;
}

.pictureonas{
  position: absolute  ;
  width: 100%;
  height: 360px;

  margin-top: 240px;
  background-image: url(onas.jpg);
  background-position: 51%;
  background-size: cover;
}

.about-banner__content {
  max-width: 1920px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  padding: 0 60px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-banner__box {
  width: 80%;
  margin-top: auto;
  max-width: 100%;
  margin-bottom: auto;
  padding-bottom: 40px;
}

.footer{
  margin-top: 1000px;
  position: absolute;
}

.page-header {
  padding: 35px 60px 10px;
  margin: 0 auto;
  display: block;
  max-width: 1160px;
  position: absolute;

}

.breadcrumbs {
  margin-top: 200px;
  font-size: 12px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
}

.page-header__title {
  color: #333;
  font-weight: 400;
  font-size: 34px;
  margin: 10px 0 20px;
  margin-top: 220px;
  position: absolute;
}

.breadcrumbs__item {
  padding-right: 30px;
  position: relative;
  margin-top: 70px;
}

#popup-subscribe .form {
  width: 460px;
  max-width: 100%;
  margin: 25px auto;
}

#popup-subscribe .form__title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #333;
}

#popup-subscribe .label {
  position: relative;
  display: block;
}

#popup-subscribe .form__label {
  margin: 15px 0;
}

#popup-subscribe .form__input {
  line-height: 30px;
}

#popup-subscribe .form__input, #popup-subscribe .form__textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a9a9a9;
  width: 100%;
  border-radius: 2px;
  font-size: 16px;
  outline: none;
  padding: 13px 10px 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#popup-subscribe .label__item:focus + .label__title, #popup-subscribe .label__item:not(:placeholder-shown) + .label__title {
  -webkit-transform: translateY(-9px) scale(.8);
  transform: translateY(-9px) scale(.8);
}

#popup-subscribe .label__title {
  position: absolute;
  top: 12px;
  left: 10px;
  -webkit-transform-origin: left;
  transform-origin: left;
  font-size: 14px;
  font-weight: 100;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  color: #939393;
}

#popup-subscribe .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  height: 48px;
  background: #a6001e;
  color: #fff;
  padding: 16px 0;
  margin-bottom: 30px;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
  outline: none;
}

#popup-subscribe .btn_sm {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  background: #555;
  color: #fff;
  padding: 12px;
  margin: 15px 0;
  border: 0;
  border-radius: 1px;
  cursor: pointer;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
  outline: none;
}

#popup-subscribe .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  float: left;
  margin: 0 25px 25px 0;
}

#popup-subscribe .switch input {
  display: none;
}

#popup-subscribe .checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

#popup-subscribe .checkbox-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

#popup-subscribe .switch input.success:checked + .checkbox-slider {
  background-color: #8bc34a;
}

#popup-subscribe .switch input:focus + .checkbox-slider {
  box-shadow: 0 0 1px #2196F3;
}

#popup-subscribe .switch input:checked + .checkbox-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

#popup-subscribe .checkbox-slider.round {
  border-radius: 0px;
}

#popup-subscribe .checkbox-slider.round:before {
  border-radius: 0%;
}

#popup-subscribe select.form__input {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1.5em + 2px),
  calc(100% - 15px) calc(1.5em + 2px),
  calc(100% - 2.5em) 1em;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
}

#popup-subscribe {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(51, 51, 51, .74);
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-subscribe .popup__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popup-subscribe .popup__block {
  background: #fff;
  position: relative;
  margin: auto;
  padding: 70px 70px 60px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#popup-subscribe .popup__close-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  z-index: 10;
  text-decoration: none;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  -webkit-transform: scale(.95);
  transform: scale(.95);
}

#popup-subscribe .popup__close-btn:before {
  -webkit-transform: rotate(45deg) translate(0);
  transform: rotate(45deg) translate(0);
}


#popup-subscribe .popup__close-btn:after {
  -webkit-transform: rotate(-45deg) translate(0);
  transform: rotate(-45deg) translate(0);
}

#popup-subscribe .popup__close-btn:after, #popup-subscribe .popup__close-btn:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -1px;
  content: "";
  display: block;
  width: 20px;
  height: 0;
  border-bottom: 2px solid #333;
}

#popup-subscribe .clearfix::after {
  display: block;
  clear: both;
  content: "";
}

#popup-subscribe .loader {
  top: -25px;
}

#popup-subscribe .loader,
#popup-subscribe .loader:before,
#popup-subscribe .loader:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

#popup-subscribe .loader {
  color: #ffffff;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  text-align: left;
}

#popup-subscribe .loader:before,
#popup-subscribe .loader:after {
  content: '';
  position: absolute;
  top: 0;
}

#popup-subscribe .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#popup-subscribe .loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
      box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
      box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
      box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
      box-shadow: 0 2.5em 0 0;
  }
}

.btn {
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: block;
text-align: center;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 12px;
width: 100%;
height: 48px;
background: #a6001e;
color: #fff;
padding: 16px 0;
margin-bottom: 30px;
border: 0;
border-radius: 1px;
cursor: pointer;
-webkit-transition: background .3s ease-in;
transition: background .3s ease-in;
outline: none;
}


.infoplate__title {
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  font-size: 12px;
  margin-bottom: 20px;
}



.aboutbgp{
  
  width: 70%;
  display: flex;
  justify-content: space-evenly;

  margin-left: 300px;
  flex-wrap: wrap;
  margin-top: 650px;
  height: 500px;
  position: absolute;

   
}

.bgp{
  width:521px;
  height: 260px;
  
  color: #666;
  font-size: 14px;
  line-height: 28px;
  
}

@media screen and (max-width: 600px) {
  .aboutbgp{
    margin-left: 80px;
  }
}

.services{
  position: absolute;
  display: flex;
  justify-content: space-between;
  
  margin-left: 15%;
  height:1930px;
  margin-top: 250px;

}


.serve{

  width: 300px;
  height: 850px;
  
}

.list__list--practices a{
  max-width: 200px;
  margin-bottom: 30px; 
  line-height: 37px;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}
.list__list {
  list-style-type: none;
  margin: 0;
  padding: 0; text-decoration: none;
}
.list__list--practices {
  max-width: 200px;
  margin-bottom: 30px; text-decoration: none;
}
.list__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__link:hover {
  color: #a6001e;
}


.restryk{
  width: 580px;

}

.resttt{
  width: 380px;  

  font-size: 24px;
  min-height: 55px;
  color: #333;
}

.textrestryk{
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  line-height: 26px;
  width: 440px;
  height: 160px;


  
}

/* .textrestryk:hover{
  overflow: visible;
} */


.photos{
  width: 440px;
  height: 100px;

  background-color: rgb(228, 224, 224);
}

hr{
  width: 438px;
}


.experience{
  width:500px;
  height: 600px;
  margin-top: 50px;
}

.suda{
  margin-left: 10px;
  font-size: 13px;
  margin-top: 30px;
  width: 400px;
  height: 200px;
 
  box-shadow: 0.2em 0.2em 0.3em 1px rgba(122,122,122,0.5);
}

.suda a{
  text-decoration: none;
}


.textrestryk2{
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  line-height: 26px;
  width: 292px;
  height: 1850px;

  background-color: #eee;

  
}

.klychkont{
  width: 250px;
  height: 350px;

  margin: 3%;
 margin-left: 10%;
}




@media screen and (max-width: 600px){

  .thirdblock{
   max-width: 600px;

  }

  .margl{
    margin-left: 25%;
  }

.iconleft{
  margin-left: 8%;
}

.copyright{
  margin-left: -35%;
}


.karp{
  margin-top: -15%;
  margin-left: -20%;
}
}


section {
  width: 100%;
  display: inline-block;
  background: rgb(252, 252, 252);
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  
}

.ffoot{
  margin-top: 60%;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #333;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #333;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #333;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #a5aaad;
  color: #333;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #333;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #333;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
 

  }

  .margg{
    margin-top:1980px;
  }


  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

