body, html{
    margin: 0;
    font-family: sans-serif;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:black;
    width: 100%;
    height: 70px;
    z-index: 999;

  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
  }
  .logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    color: white;
  }
  .img1 {
    width: 20%;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }

.nachalo{
    background-image: url(../img/banner-6.jpg);
    width: 100%;
    height: 807px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.im{
    color: white;
    font-size: 82px;
    font-weight: 800;
    text-align:  center;
    padding-top: 10%;
    font-family:'Rubik' ;
}

.proff{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    padding-top: 1%;
    color: white;
}


.bel{
    width: 100%;
    height: 717px;
    justify-content: space-evenly;
    
}


.img1{
    padding-top: 115px;
}

.about{
    color: rgb(44, 43, 43);
    font-size: 50px;
    font-weight: 900;
    font-family: sans-serif;
    margin-top: -460px;
}

.lorem{
    margin-top: 15px;
    font-size: 20px;
    font-family: sans-serif;
    color: grey;
    float: right;
}

button{
    background-color: rgb(59, 167, 255);
    width: 150px;
    height: 40px;
    border: 0;
    transition: 1s;
    color: white;
}

button:hover{
    background-color: black;
    transition: 1s;
}






.skill{
    width: 100%;
    height:500px ;
    margin-top: 100px;
    background-color: rgb(241, 240, 240);
}
/* MYSKIL fon */
.mskill{
    text-align: center;
    color: rgb(44, 43, 43);
    font-size: 50px;
    font-weight: 900;
    font-family: sans-serif;

}


.some1{
    width: 500px;
    height: 350px;
    margin-top: 50px;

}


.sk{
    display: flex;
    justify-content: space-evenly;
}

.skili{
    width: 600px;
    height: 350px;
    margin-top: 50px;
}

.some{
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    font-weight: 800;
}


.sw{
    font-size: 20px;
    font-family: sans-serif;
    color: grey;
    font-weight: 770;
}



.myserv{
    width: 100%;
    height: 700px;
    display: flex row;
}

.myserw{
    text-align: center;
    color: rgb(44, 43, 43);
    font-size: 50px;
    font-weight: 900;
    font-family: sans-serif;
    
}


.my1{
    width: 300px;
    height: 250px;
    margin: 20px;
    text-align: center;
}


.my2{
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 20px;
}


.my3{
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 20px;
}


.my4{
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 20px;
}



.my5{
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 20px;
}

.my6{
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 20px;
}



.MY{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    flex-wrap: wrap;
}

.myservcontain{
    width: 1140px;
    margin: auto;
}

.aboutcontain{
    width: 1140px;
    margin: auto;
}


.skilcontain{
    width: 1140px;
    margin: auto;
}


.siniy{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 162, 255);
    justify-content: space-evenly;
    display: flex;
}

.siniq{
    width: 1140px;
    margin: auto;
}

.sinii1{
    width: 300px;
    height: 200px;
    margin-top: 60px;
    color: whitesmoke;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
}


.sinii2{
    width: 300px;
    height: 200px;
    margin-top: 60px;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
}

.sinii3{
    width: 300px;
    height: 200px;
    margin-top: 60px;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
}

.sinii4{
    width: 300px;
    height: 200px;
    margin-top: 60px;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
}



.portfol{
    width: 100%;
    height: 200px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    background-color: rgb(44, 37, 37);
}

.mypo{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-top: 90px;
    width: 100%;
    height: 100px;
    position: relative;
}


.port{
    width: 100%;
    
}


.myfot{
    display: flex;
    justify-content: space-evenly;  
}

.portfolcont{
    width: 1140px;
    margin: auto
}

.kat{
    transition: 2s; 
}

.kat:hover{
    transition: 1s;
    opacity: 0.75;
}



.myclie{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-top: 90px;
    width: 100%;
    height: 100px;
    position: relative;
}


.kat1{
    opacity: 0;
    transition: 1s;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 400px;
    height: 300px;
    
    
}

.kat1:hover{
 opacity: 1;
 font-size: 30px; 
 transition: 1s;
 font-size: 30px;
 margin-top: 250px;
}


.clients{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.client1{
    width: 350px;
    height: 150px;
    margin-left: 50px;
}



.client2{
    width: 350px;
    height: 150px;
}



.client3{
    width: 350px;
    height: 150px;
}


.client4{
    width: 350px;
    height: 150px;
}



.client5{
    width: 350px;
    height: 150px;
    margin-top: 30px;
    margin-left: 50px;
}


.client6{
    width: 350px;
    height: 150px;
    margin-top: 30px;
}



.client7{
    width: 350px;
    height: 150px;
    margin-top: 30px;
}



.client8{
    width: 350px;
    height: 150px;
    margin-top: 30px;
}


.clientcont{
    width: 1140px;
    margin: auto;
}


.otziv{
    background-color: rgb(241, 240, 240);
    width: 100%;
    height: 300px;
    
}


.girl{
    text-align: center;
    padding-top:60px;
    color: rgb(102, 102, 102);
    font-weight: 500;
} 



.myblog{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-top: 90px;
    width: 100%;
    height: 100px;
    

}


.darling{
     width: 350px;
     height: 420px;
     border: 1px solid rgb(161, 161, 161);
     border-radius: 2px;
     

}

.john{
    width: 350px;
    height: 19px;
    color: rgb(51, 51, 51);
    margin: 5px;
}


.lore{
    width: 350px;
    height: 19px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 18px;
    margin: 5px;
    margin-top: -14px;
}

.lorem{
    margin: 5px;
    font-size: 18px;
}

.blog{
    display: flex;
    justify-content: space-evenly;
}

.blogcontain{
    width: 1140px;
    margin: auto;
}


.cont{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-top: 90px;
    width: 100%;
    height: 100px;
    padding-top: 80px;
}

.contact{
    background-color: rgb(241, 240, 240);
    width: 100%;
    height: 700px;
}

.inf{
    width: 700px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.continf{
    width: 250px;
    height: 300px;
    background-color: rgb(37, 37, 37);
    color: white;   
}

.cinf{
    margin: 10px;
    width: 200px;
    height: 45px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}




.karta{
    width: 200px;
    height: 35px;
    float: right;
    margin-top: -30px;
}


.karta1{
    width: 200px;
    height: 35px;
    float: right;
}


.karta2{
    width: 200px;
    height: 35px;
    float: right;

}


.forma{
    width: 450px;
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    padding: 10px 15px 7px;
    height: 150px;
} 



.konec{
    background-color:rgb(27, 27, 27);
    height: 140px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}




